<div>
  <span>
    <%= team.name %>
  </span>
  with <%= team.members.count %> members,
  created at
  <time>
    <%= team.created_at %>
  </time>
</div>

<ul>
  <% team.user_teams.each do |user_team| %>
    <li>
      <%= user_team.user.name %>
      <%= "(owner)" if user_team.owner? %>
      <%=
        button_to "Remove member",
                  team_remove_member_path(team, member_id: user_team.user.id),
                  method: :delete
      %>
    </li>
  <% end %>
</ul>
