<div>
  <span>
    <%= team.name %>
  </span>
  with <%= team.members.count %> members,
  created at
  <time>
    <%= team.created_at %>
  </time>
</div>

<ul>
  <% team.members.each do |member| %>
    <li>
      <%= member.name %>
      <%= button_to "Remove member", team_remove_member_path(team, member_id: member.id), method: :delete %>
      <%# or method: :post ? %>
    </li>
  <% end %>
</ul>
