Owner: <%= tournament.owner.name %> <br>
Status: <%= tournament.status %>

<h2>Teams</h2>

<% tournament.team_tournaments.each do |team_tournament| %>
  <%= render partial: "team_display", locals: { team_tournament: team_tournament } %>

  <% if tournament.open? %>
    <% if policy(team_tournament).leave? %>
      <%= button_to "Leave team",
                    team_tournament_membership_path(team_tournament),
                    method: :delete %>
    <% elsif policy(tournament).join? %>
      <%= button_to "Join team",
                    team_tournament_membership_index_path(id: team_tournament),
                    method: :post %>
    <% end %>

    <% if policy(team_tournament).destroy? %>
      <%= button_to "Remove team from tournament",
                    team_tournament_participation_path(id: team_tournament.id),
                    method: :delete %>
    <% end -%>
  <% end %>
<% end %>
