Owner: <%= tournament.owner.name %>

<h2>Teams</h2>

<% tournament.team_tournaments.each do |team_tournament| %>
  <%= render partial: "teams/display_long", locals: { team: team_tournament.team } %>

  <% if !team_tournament.full? %>
    <%= form_tag team_add_member_path(team_tournament.team) do %>
      <fieldset>
        <%= select_tag "member_id", options_for_select(tournament.potential_members.pluck(:name, :id)) %>
        <%= submit_tag "Add team member" %>
      </fieldset>
    <% end %>
  <% end %>

  <%= button_to "Remove team from tournament",
                tournament_remove_team_path(tournament, team_id: team_tournament.team.id),
                method: :delete %>
<% end %>
