<h3>Round <%= round.number -%></h3>
<% round.matches.each do |match| %>
  <h4>
    <%= match.winning_team.name %>
    vs
    <%= match.defeated_team.name %>
    <%= [match.winning_team.score || "—", match.defeated_team.score || "—"].join(":") %>
  </h4>

  <%= render partial: "matches/team_members", locals: { team: match.winning_team } %>
  <%= render partial: "matches/team_members", locals: { team: match.defeated_team } %>

  Match played at
  <% if match.played_at %>
    <%= time_tag match.played_at %>
  <% else %>
    an unspecified date
  <% end %>

  <% if policy(match).edit? %>
    <%= form_for match, url: match_path(match), method: :patch do |f| %>
      <%= f.label :played_at, "Played at:" %>
      <%= f.datetime_field :played_at, value: Time.zone.now %>
      <fieldset>
        <legend>Score</legend>
          <% if match.team_one_score.nil? %>
            <%= f.number_field :team_one_score %>
          <% else %>
            <%= match.team_one_score %>
          <% end %>
          :
          <% if match.team_two_score.nil? %>
            <%= f.number_field :team_two_score %>
          <% else %>
            <%= match.team_two_score %>
          <% end %>
      </fieldset>
      <%= f.submit "Submit" %>
    <% end %>
  <% end %>
<% end %>
