<h1>Tournament</h1>

<%= render partial: "display", locals: { tournament: @tournament } %>

<%=
  form_for @tournament, url: { action: "update" } do |f|
    render partial: "form_restricted", locals: { f: f }
  end
%>

<h2>Rounds</h2>

<% @tournament.rounds.each do |round| %>
  <h3>Round <%= round.number -%></h3>
  <% round.matches.each do |match| %>
    <%= render partial: "matches/display_long", locals: { match: match } %>

    <% if editable?(match, current_user) %>
      <%= form_for match, url: match_path(match), method: :patch do |f| %>
        <%= f.label :played_at, "Played at:" %>
        <%= f.datetime_field :played_at, value: Time.zone.now %>
        <fieldset>
          <legend>Score</legend>
            <% if match.team_one_score.nil? %>
              <%= f.number_field :team_one_score %>
            <% else %>
              <%= match.team_one_score %>
            <% end %>
            :
            <% if match.team_two_score.nil? %>
              <%= f.number_field :team_two_score %>
            <% else %>
              <%= match.team_two_score %>
            <% end %>
        </fieldset>
        <%= f.submit "Submit" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
