<strong>
  <%= match.game.name %>
</strong>

<h2>
  <%= match.winning_team.name %>
  vs
  <%= match.defeated_team.name %>
  <%= [match.winning_team.score || "—", match.defeated_team.score || "—"].join(":") %>
</h2>

<%= render partial: "team_members", locals: { team: match.winning_team } %>
<%= render partial: "team_members", locals: { team: match.defeated_team } %>

Match played at
<%= time_tag match.played_at %>
