<span>
  <%= match.game.name %>
</span>
<%= match.team_one.name %>
vs
<%= match.team_two.name %>
at
<time>
  <%= match.played_at %>
</time>
with score
<%= match.team_one_score %>:<%= match.team_two_score %>
