<span>
  <%= match.game.name %>
</span>
<%= match.teams_in_order[0].name %>
vs
<%= match.teams_in_order[1].name %>
with score
<%= match.teams_in_order[0].score %>:<%= match.teams_in_order[1].score %>
at
<time>
  <%= match.played_at %>
</time>

<%= link_to "show", match %>
