<h1>Matches</h1>
<h2>Add a match</h2>
  <% flash.each do |name, msg| %>
    <%= msg %>
  <% end %>
  <%=
    form_for @match, url: { action: "create" } do |f|
      render partial: "form", locals: { f: f }
    end
  %>
<h2>Most recent</h2>
<%= link_to "All matches", matches_path %>
<%= link_to "My matches", matches_path(involving_user: current_user.id) %>
<ul>
  <% @recent.all.each do |match| %>
    <li>
      <%= render partial: "display_short", locals: { match: match } %>
    </li>
  <% end %>
</ul>
<%= "Nothing to show." if @recent.empty? %>
<%= paginate @recent %>
